a#list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#list td, #list th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#list tr:nth-child(even) {
    background-color: #f2f2f2;
}

#list tr:hover {
    background-color: #ddd;
}

#list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #006bb3;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: yellow;
}

#button1 {
    width: 130px;
    height: 40px;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
}

#button1:hover {
    background-color: #006bb3;
    color: white;
}

#myDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img{
    margin : 50px;
    box-sizing: border-box;
}

#myDiv2{
    display: flex;
    justify-content: end;
    align-items: center;
}